<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu Name="系统" Icon="icon_menu_sys">
    <SecondMenu Name="系统管理">
      <ThirdMenu Name="用户管理" Url="~/Base_SysManage/Base_User/Index" Permission="sysuser.search" />
      <ThirdMenu Name="角色管理" Url="~/Base_SysManage/Base_SysRole/Index" Permission="sysrole.search" />
      <ThirdMenu Name="接口密钥管理" Url="~/Base_SysManage/Base_AppSecret/Index" Permission="appsecret.search" />
      <ThirdMenu Name="系统日志" Url="~/Base_SysManage/Base_SysLog/Index" Permission="sysLog.search" />
    </SecondMenu>
  </FirstMenu>
  <!--<FirstMenu Name="项目" Icon="icon_menu_sys">
    <SecondMenu Name="项目管理">
      <ThirdMenu Name="项目管理" Url="~/ProjectManage/Dev_Project/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>-->
</SysMenu>