@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}
@section toolbar{
    <a id="openUploadForm" class="easyui-linkbutton" data-options="iconCls:'icon-add'">打开文件上传窗口</a>
}

<script>
    $(function () {
        $('#openUploadForm').click(function () {
            dialogOpen({
                id: 'UploadFileForm',
                title: '上传文件',
                width: '500',
                height: '200',
                url: '/Demo/UploadFileForm',
            });
        });
    });
</script>