@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}

@section toolbar{
    <a id="add" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
    <a id="edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
    <a id="delete" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
}

@section search{
    <div class="search_wrapper">
        <div class="search_item">
            <label class="search_label">查询类别</label>
            <select name="condition" class="easyui-combobox" data-options="width:100">
                <option value="">请选择</option>
                
                <option value="LinkName">连接名</option>
                <option value="ConnectionStr">连接字符串</option>
                <option value="DbType">数据库类型</option>
                <option value="SortNum">排序编号</option>
            </select>
            <input name="keyword" class="easyui-textbox" style="width:150px" />
        </div>
        <div class="search_submit">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGrid(this,'#dataTable')">查询</a>
        </div>
    </div>
}
<div id="dataTable">

</div>

<script>
    var rootUrl = '@Url.Content("~/")';

    function initTable() {
        $('#dataTable').datagrid({
            url: rootUrl + 'Base_SysManage/Base_DatabaseLink/GetDataList',
            method: 'POST',
            //queryParams: { 'id': id },
            idField: 'Id',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            selectOnCheck: false,
            checkOnSelect: false,
            //rownumbers: true,
            pagination: true,
            pageSize: 30,
            //nowrap: false,
            pageList: [10, 20, 30, 50, 100, 150, 200],
            //showFooter: true,
            columns: [[
                { title: 'ck', field: 'ck', checkbox: true },
                
                { title: '连接名', field: 'LinkName', width: 300 },
                { title: '连接字符串', field: 'ConnectionStr', width: 1000 },
                { title: '数据库类型', field: 'DbType', width: 200 },
                { title: '排序编号', field: 'SortNum', width: 200 }
            ]],
            onBeforeSelect: function () {
                return false;
            }
        });
    }

    $(function () {
        initTable();

        //添加数据
        $('#add').click(function () {
            dialogOpen({
                id: 'form',
                title: '添加数据',
                width: 500,
                height: 340,
                url: rootUrl + 'Base_SysManage/Base_DatabaseLink/Form',
            });
        });

        //修改数据
        $('#edit').click(function () {
            var selected = $("#dataTable").datagrid("getChecked");
            if (!selected || !selected.length) {
                dialogError('请选择要修改的记录!');
                return;
            }
            var id = selected[0].Id;

            dialogOpen({
                id: 'form',
                title: '修改数据',
                width: 500,
                height: 340,
                url: rootUrl + 'Base_SysManage/Base_DatabaseLink/Form?id=' + id,
            });
        });

        //删除数据
        $('#delete').click(function () {
            var checked = $("#dataTable").datagrid("getChecked");
            if (!checked || !checked.length) {
                dialogError('请选择要删除的记录!');
                return;
            }
            var ids = $.map(checked, function (item) {
                return item['Id'];
            });

            dialogComfirm('确认删除吗？', function () {
                $.postJSON(rootUrl + 'Base_SysManage/Base_DatabaseLink/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                    if (resJson.Success) {
                        $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                        $('#dataTable').datagrid('reload');
                        dialogMsg('删除成功!');
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            });
        });
    });
</script>